@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  color: getColor("primary");
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.78;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.subscribe-form__button {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.social-networks-list, .nav-site, .nav-portfolio, .portfolio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo, .nav-site__link, .nav-address-header__link, .portfolio-list__link, .nav-address-footer__link {
  text-decoration: none;
}

.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: teal;
  background-color: bisque;
  /* Цей медіа запит видаляє горизонтальну полосу прокрутки,
та дає змогу контейнеру тянутись до 480px */
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

.header-page {
  position: relative;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-menu__button:hover, .main-menu__button:focus {
  fill: #2196f3;
}

.main-menu__icon-close {
  display: none;
}

.main-menu__button.is-open .main-menu__icon-close {
  display: block;
}

.main-menu__button.is-open .main-menu__icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-menu__button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    transform: scale(0.8);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-menu.is-open {
    display: block;
    transform: scale(1);
  }
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__item-primary {
  color: #000000;
}

.logo__item-secondary {
  color: #ffffff;
}

.social-networks-list {
  display: flex;
  justify-content: center;
}

.social-networks-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-networks-list__link {
  display: inline-block;
  padding: 12px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-list__link:hover, .social-networks-list__link:focus {
  background-color: #2196f3;
}

.footer-page .social-networks-list__link {
  background-color: #afb1b8;
}

.footer-page .social-networks-list__icon {
  fill: #ffffff;
}

.social-networks-list__icon {
  display: block;
  fill: #afb1b8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-list__link:hover .social-networks-list__icon,
.social-networks-list__link:focus .social-networks-list__icon {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .nav-site {
    margin-bottom: 60px;
  }
}

.nav-site__item {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .nav-site__item {
    margin-bottom: 40px;
  }
}

.nav-site__link {
  display: inline-block;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-site__link--current {
  color: #2196f3;
}

.nav-site__link--current::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  /* Нижній відступ марджином тільки на mobile */
}

@media screen and (max-width: 767px) {
  .nav-site__link--current::after {
    margin-top: 8px;
  }
}

.nav-address-header {
  text-align: center;
}

.nav-address-header__link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .nav-address-header__link:not(:last-child) {
    margin-bottom: 16px;
  }
}

.nav-address-header__icon {
  margin-right: 10px;
  fill: #757575;
}

/* Portfolio */
.portfolio-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.nav-portfolio {
  margin-bottom: 40px;
}

.nav-portfolio__item {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .nav-portfolio__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

.nav-portfolio__button {
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-portfolio__button:hover, .nav-portfolio__button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .portfolio-list__item:not(:nth-last-child(-n + 1)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.portfolio-list__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list__pop-up-content-box {
  position: absolute;
  bottom: 0;
  padding: 49px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__img-wrapper:hover .portfolio-list__pop-up-content-box {
  transform: translateY(0);
}

.portfolio-list__content-box {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__pop-up-text {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.portfolio-list__title {
  margin-bottom: 4;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Footer */
.footer-page {
  background-color: #2f303a;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-page__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.nav-address-footer {
  display: block;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .nav-address-footer {
    margin-bottom: 60px;
  }
}

.nav-address-footer__text,
.nav-address-footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.nav-address-footer__text {
  display: inline-block;
  margin-bottom: 8px;
  font-style: normal;
  color: #ffffff;
}

.nav-address-footer__link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

.nav-address-footer__link:not(:nth-last-child(-n + 1)) {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .call-text-and-social-network {
    margin-bottom: 60px;
  }
}

.call-text,
.subscribe-form__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.subscribe-form__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form__input {
  margin-bottom: 20px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}

.subscribe-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 29px;
  padding-right: 28px;
}

.subscribe-form__button-icon {
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */