body {
  font-family: "Roboto", sans-serif;
  color: getColor("primary");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.subscribe-form__button {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.nav-site, .social-networks-list, .nav-portfolio, .portfolio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo, .nav-site__link, .nav-address-header__link, .portfolio-list__link, .nav-address-footer__link {
  text-decoration: none;
}

.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__item-primary {
  color: #000000;
}

.logo__item-secondary {
  color: #ffffff;
}

.portfolio__header-page {
  border-bottom: 1px solid #ececec;
}

/* general flex */
.header-flex-wrapper,
.main-nav,
.nav-site,
.nav-address-header {
  display: flex;
  align-items: center;
}

/* nav-site */
.nav-site {
  margin-left: 93px;
}

.nav-site__item:not(:first-child) {
  margin-left: 50px;
}

.nav-site__link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-site__link:hover, .nav-site__link:focus {
  color: #2196f3;
}

.nav-site__link--current {
  color: #2196f3;
}

.nav-site__link--current:after {
  content: "";
  position: absolute;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/* nav-address */
.nav-address-header {
  margin-left: auto;
}

.nav-address-header__link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-address-header__link:not(:first-child) {
  margin-left: 50px;
}

.nav-address-header__link:hover, .nav-address-header__link:focus {
  color: #2196f3;
}

.nav-address-header__icon {
  display: inline-block;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-address-header__link:hover .nav-address-header__icon,
.nav-address-header__link:focus .nav-address-header__icon {
  fill: #2196f3;
}

.social-networks-list {
  display: flex;
  justify-content: center;
}

.social-networks-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-networks-list__link {
  display: inline-block;
  padding: 12px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-list__link:hover, .social-networks-list__link:focus {
  background-color: #2196f3;
}

.social-networks-list__icon {
  display: block;
  fill: #afb1b8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-list__link:hover .social-networks-list__icon,
.social-networks-list__link:focus .social-networks-list__icon {
  fill: #ffffff;
}

.portfolio-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.nav-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 53px;
}

.nav-portfolio__item + .nav-portfolio__item {
  margin-left: 8px;
}

.nav-portfolio__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-portfolio__button:hover, .nav-portfolio__button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.portfolio-list__item {
  margin-right: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.portfolio-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 32px;
}

.portfolio-list__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list__pop-up-content-box {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item:hover .portfolio-list__pop-up-content-box {
  transform: translateY(0);
}

.portfolio-list__pop-up-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-list__content-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: #ffffff;
}

.portfolio-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-page {
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
  padding-top: 69px;
  padding-bottom: 51px;
}

.footer-logo-and-address-wrapper {
  display: flex;
  flex-direction: column;
}

/* footer-page-logo */
.footer-page__logo {
  display: inline-block;
  margin-bottom: 20px;
}

/* nav-address-footer */
.nav-address-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.nav-address-footer__text {
  display: inline-block;
  margin-bottom: 9px;
  font-style: normal;
  color: #ffffff;
}

.nav-address-footer__link {
  display: inline-block;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.nav-address-footer__link:last-child {
  margin-top: 9px;
}

/* call-text and social-network */
.call-text-and-social-network {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 70px;
}

.call-text,
.subscribe-form__text {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* subscribe form */
.subscribe-form {
  margin-left: auto;
}

.subscribe-form__actions {
  display: flex;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__button {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: 12px;
}

.subscribe-form__button-icon {
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */