// main-nav
.main-nav {
  @media screen and(max-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and(min-width: $tablet) {
    display: flex;
    justify-content: start;
    align-items: baseline;
  }
}

// main-menu__button
.main-menu__button {
  display: inline-flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: getColor("accent");
  }
}

.main-menu__icon-close {
  display: none;

  .main-menu__button.is-open & {
    display: block;
  }
}

.main-menu__button.is-open {
  .main-menu__icon-menu {
    display: none;
  }
}

@media screen and(min-width: $tablet) {
  .main-menu__button {
    display: none;
  }
}

// main-menu
.main-menu {
  @media screen and(max-width: 767px) {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #fff;
    z-index: 2;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);

    @include transitions(opacity, transform);

    &.is-open {
      display: block;
      transform: scaleY(1);
      opacity: 1;
    }
  }

  & {
    @media screen and(min-width: $tablet) {
      display: flex;
      align-items: center;
      margin-left: 88px;
      flex-grow: 1;
    }
  }
}
