/*  Hero */
.hero {
  margin: 0 auto;
}
// hero-overlay
.hero-overlay {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: $linear-gradient, url(../../../../img/hero-overlay.jpg);
}

// hero-title
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: getColor("hero-title");
}

// button-order-servise
.button-order-service {
  @extend %button;
  padding-left: 32px;
  padding-right: 32px;
}

// button-order-service-wrapper
.button-order-service-wrapper {
  display: flex;
  justify-content: center;
}
