/* Features */
.features {
  background-color: getColor("features-section");

  @media screen and(max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// features-list
.features-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}

.features-list__item {
  margin-bottom: 30px;

  &:last-child {
    @media screen and(max-width: 767px) {
      margin-bottom: 0px;
    }
  }

  & {
    @media screen and(min-width: $tablet) {
      margin-right: 30px;
      @include itemWidth(2);
    }
  }

  & {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      &:nth-child(2n) {
        margin-right: 0px;
      }

      &:nth-last-child(-n + 2) {
        margin-bottom: 0px;
      }
    }
  }

  & {
    @media screen and(min-width: $desktop) {
      @include itemWidth(4);

      &:nth-last-child(-n + 1) {
        margin-right: 0;
      }
    }
  }
}

.features-list__box-img {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;

  background: #f5f4fa;
  border-radius: 4px;
}

.features-list__title {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: getColor("secondary");

  @media screen and(max-width: 767px) {
    text-align: center;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: getColor("primary");
}
