.header-page {
  position: relative;
  border-bottom: 1px solid #ececec;
}

// main-nav
.main-nav {
  @include media-size(tablet-1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include media-size(min-tablet) {
    display: flex;
    justify-content: start;
    align-items: baseline;
  }
}

// main-menu__button
.main-menu__button {
  display: inline-flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: getColor("accent");
  }
}

.main-menu__icon-close {
  display: none;

  .main-menu__button.is-open & {
    display: block;
  }
}

.main-menu__button.is-open {
  .main-menu__icon-menu {
    display: none;
  }
}

@include media-size(min-tablet) {
  .main-menu__button {
    display: none;
  }
}

// main-menu
.main-menu {
  @include media-size(tablet-1) {
    display: none;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #fff;
    z-index: 2;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);

    @include transitions(opacity, transform);

    &.is-open {
      display: block;
      transform: scaleY(1);
      opacity: 1;
    }
  }

  & {
    @include media-size(min-tablet) {
      display: flex;
      align-items: center;
      margin-left: 88px;
      flex-grow: 1;
    }
  }
}

.nav-site {
  @extend %list;

  @include media-size(tablet-1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  @include media-size(min-tablet) {
    display: flex;
  }
}

.nav-site__item {
  &:not(:nth-last-child(-n + 1)) {
    @include media-size(tablet-1) {
      margin-bottom: 40px;
    }
  }

  &:not(:last-child) {
    @include media-size(min-tablet) {
      margin-right: 50px;
    }
  }
}

.nav-site__link {
  @extend %link;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: getColor("secondary");

  @include transition(color);

  @include media-size(tablet-1) {
    padding-bottom: 8px;
  }

  @include media-size(min-tablet) {
    display: inline-block;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: getColor("accent");
  }

  &--current {
    color: getColor("accent");
  }

  &--current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;

    background-color: getColor("accent");
    border-radius: 2px;
  }
}

.nav-address-header {
  @include media-size(tablet-1) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include media-size(min-tablet-desktop-1) {
    display: flex;
    flex-direction: column;
    margin-left: 88px;
  }

  @include media-size(min-desktop) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}

.nav-address-header__link {
  @extend %link;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: getColor("primary");

  @include transition(color);

  @include media-size(min-tablet) {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 14px;
  }

  @include media-size(min-desktop) {
    font-size: 14px;
    line-height: 16px;
  }

  &:hover,
  &:focus {
    color: getColor("accent");
  }

  &:hover .nav-address-header__icon,
  &:focus .nav-address-header__icon {
    fill: getColor("accent");
  }

  &:not(:nth-last-child(-n + 1)) {
    @include media-size(tablet-1) {
      margin-bottom: 16px;
    }
  }

  &:not(:nth-last-child(-n + 1)) {
    @include media-size(min-tablet-desktop-1) {
      margin-bottom: 10px;
    }
  }

  &:last-child {
    @include media-size(min-desktop) {
      margin-left: 30px;
    }
  }
}

.nav-address-header__icon {
  fill: getColor("primary");
  margin-right: 10px;

  @include transition(fill);

  @include media-size(min-tablet) {
    margin-right: 8px;
  }
}

@include media-size(min-tablet) {
  .nav-address-header__icon-envelope {
    width: 14px;
    height: 10px;
  }
  .nav-address-header__icon-smartphone {
    width: 10px;
    height: 14px;
  }
}

@include media-size(min-desktop) {
  .nav-address-header__icon-envelope {
    width: 16px;
    height: 12px;
  }
  .nav-address-header__icon-smartphone {
    width: 10px;
    height: 16px;
  }
}
