.social-networks-list {
  @extend %list;
  display: inline-flex;
  justify-content: center;
}

.social-networks-list__item:not(:first-child) {
  margin-left: 10px;
}

.social-networks-list__link {
  display: inline-block;
  padding: 12px;

  border-radius: 50%;
  background-color: transparent;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: getColor("accent");
  }
}

.social-networks-list__icon {
  display: block;

  fill: #afb1b8;
  @include transition(fill);

  .social-networks-list__link:hover &,
  .social-networks-list__link:focus & {
    fill: getColor("third");
  }
}

// Стилі для футера
.footer .social-networks-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  @include transition(background-color);
}

.social-networks-list__link:hover,
.social-networks-list__link:focus {
  background-color: getColor("accent");
}

.footer .social-networks-list__icon {
  fill: getColor("third");
}
