.nav-portfolio {
  @extend %list;
  display: flex;
  justify-content: center;
  margin-bottom: 53px;
}

.nav-portfolio__item + .nav-portfolio__item {
  margin-left: 8px;
}

.nav-portfolio__button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor("secondary");

  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  @include transitions(background-color, color);

  &:hover,
  &:focus {
    background-color: getColor("accent");
    color: getColor("btn-text");
  }
}
