/* Portfolio */
// portfolio-container
.portfolio-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

// portfolio-title
.portfolio-title {
  @extend %visually-hidden;
}

// nav-portfolio
.nav-portfolio {
  @extend %list;
  margin-bottom: 40px;
}

// nav-portfolio-item
.nav-portfolio__item {
  display: inline-block;

  &:not(:nth-last-child(-n + 2)) {
    @media screen and(max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}

// nav-portfolio__button
.nav-portfolio__button {
  padding: 6px 22px;

  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: getColor("secondary");

  background: #f5f4fa;
  border-radius: 4px;
  border: none;

  @include transitions(background-color, color);

  &:hover,
  &:focus {
    background-color: getColor("accent");
    color: getColor("third");
  }
}
