/* Portfolio */
.portfolio {
  background-color: getColor("portfolio-section");
  border-top: 1px solid #ececec;

  @media screen and(max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  // @media screen and(min-width: $desktop) {
  //   padding-top: 94px;
  //   padding-bottom: 94px;
  // }
}
