@mixin transition($type) {
  transition: $type $duration $timming-function;
}

@mixin transitions($type, $second-type) {
  transition: $type $duration $timming-function, $second-type $duration $timming-function;
}

@mixin itemWidth($row_item, $margin_width: 30px) {
  /* $row_item - к-во блоков в один ряд в портфолио */
  /* $margin_width - ширина марджина між item */
  width: calc((100% - (#{$row_item} - 1) * #{$margin_width}) / #{$row_item});
}
