.portfolio__header-page {
  border-bottom: 1px solid #ececec;
}

/* general flex */
.header-flex-wrapper,
.main-nav,
.nav-site,
.nav-address-header {
  display: flex;
  align-items: center;
}

/* nav-site */
.nav-site {
  @extend %list;
  margin-left: 93px;
}

.nav-site__item:not(:first-child) {
  margin-left: 50px;
}

.nav-site__link {
  @extend %link;
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: getColor("secondary");

  @include transition(color);

  &:hover,
  &:focus {
    color: getColor("accent");
  }

  &--current {
    color: getColor("accent");
  }

  &--current:after {
    content: "";
    position: absolute;
    bottom: 0%;

    display: block;
    width: 100%;
    height: 4px;
    background: getColor("accent");
    border-radius: 2px;
  }
}

/* nav-address */
.nav-address-header {
  margin-left: auto;
}

.nav-address-header__link {
  @extend %link;
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: getColor("primary");

  @include transition(color);

  &:not(:first-child) {
    margin-left: 50px;
  }

  &:hover,
  &:focus {
    color: getColor("accent");
  }
}

.nav-address-header__icon {
  display: inline-block;
  margin-right: 10px;

  fill: getColor("primary");

  @include transition(fill);

  .nav-address-header__link:hover &,
  .nav-address-header__link:focus & {
    fill: getColor("accent");
  }
}
