/* Portfolio */
.portfolio {
  background-color: getColor("portfolio-section");

  @include media-size(desktop-1) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// NAV-PORTFOLIO

// nav-portfolio
.nav-portfolio {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: -15px;
  margin-left: -8px;

  @include media-size(min-tablet) {
    margin-bottom: 30px;
    justify-content: center;
  }

  @include media-size(min-desktop) {
    margin-bottom: 50px;
  }
}

// nav-portfolio-item
.nav-portfolio__item {
  display: inline-block;
  margin-top: 15px;
  margin-left: 8px;
}

// nav-portfolio__button
.nav-portfolio__button {
  padding: 6px 22px;

  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: getColor("secondary");

  background: #f5f4fa;
  border-radius: 4px;
  border: none;

  @include transitions(background-color, color);

  &:hover,
  &:focus {
    background-color: getColor("accent");
    color: getColor("third");
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// PORTFOLIO-LIST

.portfolio-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__item {
  margin-bottom: 30px;

  &:nth-last-child(-n + 1) {
    @include media-size(desktop-1) {
      margin-bottom: 0px;
    }
  }

  @include media-size(min-tablet) {
    margin-right: 30px;
  }

  &:nth-last-child(-n + 3) {
    @include media-size(min-desktop) {
      margin-bottom: 0px;
    }
  }

  // Розраховуємо ширину контейнера для планшета
  @include media-size(min-tablet-desktop-1) {
    @include itemWidth(2);
  }

  &:nth-child(2n) {
    @include media-size(min-tablet-desktop-1) {
      margin-right: 0px;
    }
  }

  // Розраховуємо ширину контейнера для ПК
  @include media-size(min-desktop) {
    @include itemWidth(3);

    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
}

.portfolio-list__link {
  display: block;
  @extend %link;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:focus {
    outline: getColor("accent") auto 1px;
  }
}

.portfolio-list__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list__pop-up-content-box {
  @include media-size(desktop-1) {
    display: none;
  }
  position: absolute;
  bottom: -1px;
  padding: 49px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  @include transition(transform);

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translateY(0);
  }
}

.portfolio-list__content-box {
  padding: 20px 24px;
  background: getColor("third");
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}

.portfolio-list__pop-up-text {
  font-size: 18px;
  line-height: 1.56;
  color: getColor("third");
  letter-spacing: 0.03em;
}

.portfolio-list__title {
  margin-bottom: 4;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: getColor("secondary");

  & {
    @include media-size(min-tablet) {
      font-size: 17px;
    }
  }
}

.portfolio-list__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: getColor("primary");
}
